@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  background-color: #E4F7FF;
  max-width: 320px;
  display: grid;
  font-size: 62.5%;
  font-family: 'Roboto',sans-serif;
  color: #0F4965; }

/* ************* MOBILE 320px ************* */
nav {
  position: sticky;
  width: 100%;
  background-color: #92DCFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 1.8rem; }

.nav--link-text {
  color: #0F4965;
  font-weight: 400; }

a:hover {
  color: #24B8FE;
  font-weight: 600; }

.inicioDeSesion {
  width: 100%;
  min-width: 10px;
  max-width: 40px; }

.nav--item-icon {
  display: flex;
  justify-content: flex-end; }

.header-menu-logo {
  width: 100%;
  min-width: 113px;
  max-width: 239px;
  padding-top: 6px; }

.navbar-toggler {
  font-size: 1.8rem;
  line-height: 1;
  background-color: transparent;
  border: none;
  /* border-radius: var(--bs-navbar-toggler-border-radius);
        transition: var(--bs-navbar-toggler-transition); */ }

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%; }

/* Index BODY */
body {
  position: absolute;
  background-color: #E4F7FF; }

.body-main--img img {
  width: 320px;
  border-radius: none; }

.body-main--columnLeft h1 {
  color: #0F4965;
  display: flex;
  width: 274px;
  font-size: 1.8rem;
  line-height: 21px;
  font-weight: 600;
  text-align: center;
  margin-left: 23px;
  margin-top: 2px; }

.body-main--beneficios ul {
  color: #0F4965;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  list-style: none;
  width: 100%;
  min-width: 281px;
  max-height: 426px;
  height: 39px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 14.06px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px; }

.body-main--contenedor h2 {
  color: #0F4965;
  display: flex;
  width: 100%;
  min-width: 265px;
  max-width: 426px;
  height: 32px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 16.41px;
  text-align: center;
  justify-content: center; }

.body-main--contenedor-iconos {
  margin: 8px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto;
  column-gap: 17px; }

.body-main--contenedor-iconos img {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.main--container-svg-plan img {
  display: block;
  margin-bottom: 5px;
  margin-left: 10px; }

.main--container-svg-promo img {
  display: block;
  margin-bottom: 5px;
  margin-left: 25px; }

.main--container-svg-contact img {
  display: block;
  margin-bottom: 5px;
  margin-left: 15px; }

.main--container-svg-user img {
  display: block;
  margin-bottom: 5px;
  margin-left: 28px; }

.body-main--contenedor-iconos p {
  display: flex;
  flex-wrap: wrap;
  color: #0F4965;
  font-size: 120%;
  line-height: 11.72px;
  font-weight: 400;
  text-align: center; }

/* ********** Planes ************ */
h1 {
  font-family: 'Roboto',sans-serif;
  font-size: 1.8rem;
  line-height: 21.09px;
  font-weight: 600;
  text-align: center;
  color: #0F4965; }

.main-subtitle {
  font-family: 'Roboto',sans-serif;
  font-size: 1.2rem;
  line-height: 14.06px;
  font-weight: 400;
  text-align: center;
  color: #0F4965; }

.planes--contenedor {
  display: flex;
  margin-left: 80px;
  margin-bottom: 40px;
  width: 154px;
  max-width: 228px;
  height: 170px;
  background-color: transparent;
  font-family: 'Roboto',sans-serif;
  text-align: center;
  border: 1px solid #DAECF4;
  border-radius: 23px; }

.card-header {
  background-color: #24B8FE;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 21.09px;
  text-align: center;
  border-radius: 23px; }

.light {
  font-family: 'Roboto',sans-serif;
  color: #0F4965;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 21.09px; }

.bold {
  font-family: 'Roboto',sans-serif;
  color: #0F4965;
  font-size: 2rem;
  font-weight: 600;
  line-height: 21.09px; }

.contratar {
  display: inline-block;
  width: 148px;
  max-width: 280px;
  margin-top: 10px;
  margin-bottom: 15px;
  /* margin-left: 5px; */
  background-color: #24B8FE;
  color: #E4F7FF;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 21.09px;
  text-align: center;
  border: none;
  border-radius: 18px; }

/* *********** Promociones ************ */
.promo--contenedor {
  display: flex;
  width: 228px;
  max-width: 300px;
  background-color: transparent;
  border: 1px solid #DAECF4;
  font-family: 'Roboto',sans-serif;
  text-align: center;
  border-radius: 23px;
  margin-bottom: 10px;
  margin-left: 40px; }

.promo--contenedor img {
  border-radius: 23px 23px 0 0; }

.promo--texto h2 {
  font-family: 'Roboto',sans-serif;
  font-size: 1.6rem;
  line-height: 21.09px;
  font-weight: 700;
  text-align: center;
  color: #0F4965; }

.promo--texto p {
  font-family: 'Roboto',sans-serif;
  font-size: 1.2rem;
  line-height: 21.09px;
  font-weight: 400;
  text-align: center;
  color: #0F4965; }

.agregar {
  display: inline-block;
  width: 148px;
  max-width: 280px;
  /* margin-top: 10px; */
  margin-bottom: 30px;
  margin-left: 75px;
  background-color: #24B8FE;
  color: #E4F7FF;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 21.09px;
  text-align: center;
  border: none;
  border-radius: 18px; }

/* ************ Contacto ************** */
.contacto--extra {
  font-family: 'Roboto',sans-serif;
  font-size: 1.2rem;
  line-height: 21.09px;
  font-weight: 400;
  text-align: center;
  color: #0F4965;
  font-style: italic; }

.main--forms {
  height: 300px; }

.contacto--forms {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  margin-left: 12%; }

.contacto--forms label {
  display: block;
  height: auto;
  font-family: 'Roboto',sans-serif;
  font-size: 1.2rem;
  line-height: 21.09px;
  font-weight: 400;
  color: #0F4965; }

.contacto--forms-input {
  width: 100%;
  min-width: 100px;
  max-width: 228px;
  height: 20px;
  font-family: 'Roboto',sans-serif;
  font-size: 1rem;
  border: 1px solid lightslategray; }

.button--submit {
  display: inline-block;
  width: 148px;
  max-width: 280px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 15%;
  background-color: #24B8FE;
  color: #E4F7FF;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 21.09px;
  text-align: center;
  border: none;
  border-radius: 18px; }

/* *********** Inicio de sesión ************** */
.iDS--inputs {
  margin-left: 10px;
  margin-right: 10px; }

.iDS--forms {
  height: 300px; }

.ingresar {
  display: inline-block;
  width: 148px;
  max-width: 280px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 25%;
  background-color: #24B8FE;
  color: #E4F7FF;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 21.09px;
  text-align: center;
  border: none;
  border-radius: 18px; }

.label-titulo {
  font-family: 'Roboto',sans-serif;
  font-size: 1.2rem;
  line-height: 21.09px;
  font-weight: 400;
  text-align: center;
  color: #0F4965; }

.iDS--contra a {
  color: #0F4965; }

/* ****** Footer ******+ */
footer {
  position: relative;
  width: 100vw;
  min-width: 320px;
  max-width: 1280px;
  bottom: 0;
  height: auto;
  display: grid;
  background-color: #92DCFF;
  grid-template-rows: auto auto; }

.footer--info {
  margin-top: 8px;
  font-weight: 700;
  font-size: 1rem;
  line-height: 9.38px;
  text-align: center;
  color: #0F4965; }

.footer--redes p {
  margin-top: 8px;
  font-size: 1rem;
  line-height: 9.38px;
  text-align: center; }

.footer--avisos {
  margin-top: 3px;
  font-size: 1rem;
  line-height: 9.38px;
  text-align: center; }

.footer--avisos a {
  color: #0F4965; }

.footer--redes-iconos {
  margin-top: 3px;
  display: flex;
  justify-content: space-evenly; }

.LogoSonoredOriginal {
  display: flex;
  margin-top: 3px;
  width: 100%;
  min-width: 60px;
  max-width: 102px;
  margin-left: 120px;
  margin-bottom: 10px; }

/****************** TABLET ***************************/
@media (min-width: 768px) {
  /* Index BODY */
  body {
    background-color: #E4F7FF; }
  nav {
    position: sticky; }
  h1 {
    font-size: 1.8rem;
    line-height: 21px;
    text-align: center;
    font-weight: 600;
    margin-top: 2px; }
  /************ INDEX ****************/
  .body-main-img-beneficios {
    display: grid;
    grid-template-rows: auto auto auto; }
  .body-main--img img {
    width: 480px;
    margin-left: 20%;
    margin-top: 2%; }
  .body-main--columnLeft h1 {
    margin-left: 35%; }
  .body-main--beneficios ul {
    color: #0F4965;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    list-style: none;
    width: 100%;
    min-width: 174px;
    height: 39px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 14.06px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px; }
  .body-main--contenedor h2 {
    color: #0F4965;
    display: flex;
    width: 100%;
    min-width: 174px;
    height: 32px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 16.41px;
    margin-left: 25%;
    text-align: center;
    justify-content: center; }
  .body-main--contenedor-iconos {
    margin: 8px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    margin-left: 10%; }
  .main--container-svg-plan img {
    display: block;
    margin-bottom: 5px;
    margin-left: 10px; }
  .main--container-svg-promo img {
    display: block;
    margin-bottom: 5px;
    margin-left: 25px; }
  .main--container-svg-contact img {
    display: block;
    margin-bottom: 5px;
    margin-left: 15px; }
  .main--container-svg-user img {
    display: block;
    margin-bottom: 5px;
    margin-left: 28px; }
  .body-main--contenedor-iconos p {
    display: inline;
    color: #0F4965;
    font-size: 1.4rem;
    line-height: 14px;
    font-weight: 400;
    text-align: center; }
  /* ***************** Planes ****************** */
  .main--planes {
    height: 387px; }
  .main-subtitle {
    margin-top: 10px;
    font-size: 1.4rem;
    margin-bottom: 20px; }
  .planes--main-planes {
    display: flex;
    flex-direction: row; }
  button:hover {
    background-color: #0F4965; }
  .planes--contenedor {
    height: 180px;
    margin-bottom: 50px; }
  .card-header {
    font-size: 1.8rem; }
  .light {
    font-size: 1.4rem;
    line-height: 20px; }
  .bold {
    font-size: 1.8rem;
    line-height: 20px; }
  .contratar {
    font-size: 1.8rem;
    display: flex;
    justify-content: space-evenly;
    margin-left: 2px;
    margin-top: 20px; }
  /************** Promo ******************/
  .promo--desktop {
    display: inline-block; }
  .promo--desktop-left {
    margin-left: 5%; }
  .promo--desktop-right {
    margin-left: 15%; }
  /* ************ Contacto ************** */
  .main--forms {
    height: 347px; }
  .contacto--extra {
    font-size: 1.4rem;
    line-height: 10px; }
  .contacto--forms {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    margin-left: 34%; }
  .contacto--forms label {
    font-size: 1.4rem;
    line-height: 20px; }
  .contacto--forms-input {
    height: 24px;
    font-size: 1.2rem; }
  .button--submit {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 9%;
    font-size: 1.8rem;
    line-height: 21.09px; }
  /* **************** Inicio de sesión *********************** */
  .iDS--inputs {
    height: 387px;
    width: 80%; }
  .iDS--inputs h1 {
    margin-left: 20%; }
  .iDS--forms {
    margin-left: 20%; }
  .label-titulo {
    font-size: 1.4rem; }
  .password {
    font-size: 1.4rem; }
  .ingresar {
    margin-left: 35%;
    font-size: 1.8rem; }
  /* *************** Footer ******************* */
  footer {
    display: grid;
    grid-template-columns: auto auto auto auto; }
  .footer--info {
    font-size: 1.4rem;
    color: #0F4965;
    line-height: 19px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 10px;
    width: 100%; }
  .footer--redes p {
    font-size: 1.4rem;
    color: #0F4965;
    margin-bottom: 12px; }
  .footer--avisos p {
    font-size: 1.4rem;
    color: #0F4965;
    line-height: 19px;
    margin-top: 10px; }
  .LogoSonoredOriginal {
    display: flex;
    max-width: 102px;
    margin: 40px 68px 35px 150px; } }

/******************* DESKTOP ********************/
@media (min-width: 1024px) {
  nav {
    position: sticky; }
  h1 {
    margin-top: 10px;
    font-size: 2.8rem;
    display: flex;
    justify-content: center; }
  .menu-header-menu {
    font-size: 1.8rem;
    display: flex;
    justify-content: space-evenly; }
  .nav-link {
    color: #0F4965; }
  a:hover {
    color: #0F4965;
    font-weight: 600; }
  /* ******** Index ************ */
  .index--main {
    height: 431px; }
  .body-main-img-beneficios {
    display: grid;
    grid-template-columns: auto auto;
    height: 487px; }
  .body-main--img img {
    margin-top: 75px;
    margin-left: 75px;
    width: 457px; }
  .body-main--beneficios h1 {
    width: 426px;
    margin-top: 75px;
    font-size: 2.8rem;
    margin-left: 0; }
  .body-main--beneficios ul {
    width: 431px;
    font-size: 1.8rem;
    line-height: 22px;
    margin-top: 25px;
    margin-bottom: 25px; }
  .body-main--contenedor h2 {
    font-size: 2rem;
    line-height: 28.13px;
    text-align: center;
    margin-bottom: 56px;
    margin-left: 0; }
  .body-main--contenedor-iconos {
    margin-left: 0;
    margin-right: 23%; }
  .main--container-svg-plan p {
    font-style: 1.6rem;
    line-height: 16.41px; }
  /* ***************** Planes ****************** */
  .main--planes {
    height: 431px; }
  .main-subtitle {
    margin-top: 10px;
    font-size: 1.8rem;
    margin-bottom: 20px; }
  .planes--main-planes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-right: 7%; }
  .planes--contenedor {
    height: 180px;
    margin-bottom: 50px; }
  .card-header {
    font-size: 2.4rem; }
  .light {
    font-size: 2rem;
    line-height: 25px; }
  .bold {
    font-size: 2rem;
    line-height: 25px; }
  .contratar {
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px; }
  button:hover {
    background-color: #0F4965; }
  /* ****************** Promo ************************* */
  .main--promo {
    height: 431px; }
  .promo--desktop {
    display: inline-block; }
  .promo--desktop-left {
    margin-left: 20%; }
  .promo--desktop-right {
    margin-left: 15%; }
  /* *************** Contacto ************************ */
  .main--forms {
    height: 431px; }
  .contacto--extra {
    font-size: 1.8rem; }
  .contacto--forms {
    margin-left: 40%; }
  .contacto--forms label {
    font-size: 1.8rem;
    line-height: 30px; }
  .contacto--forms-input {
    font-size: 1.8rem;
    line-height: 30px; }
  .button--submit {
    margin-left: 7%;
    font-size: 2rem;
    line-height: 30px; }
  /* **************** Inicio de sesión *********************** */
  .iDS--inputs {
    height: 431px;
    width: 80%; }
  .iDS--inputs h1 {
    margin-left: 200px; }
  .iDS--forms {
    margin-left: 200px; }
  .label-titulo {
    font-size: 1.8rem; }
  .password {
    font-size: 1.4rem; }
  .ingresar {
    margin-left: 41%;
    font-size: 2rem; }
  /* *************** Footer ******************* */
  footer {
    display: grid;
    grid-template-columns: auto auto auto auto; }
  .footer--info {
    font-size: 1.8rem;
    color: #0F4965;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
    width: 100%; }
  .footer--redes p {
    font-size: 1.8rem;
    margin-bottom: 12px; }
  .footer--avisos p {
    font-size: 1.8rem;
    color: #0F4965;
    margin-top: 20px;
    margin-bottom: 20px; }
  .LogoSonoredOriginal {
    display: flex;
    max-width: 132px;
    margin: 20% 0 0 80%; } }
