@media (min-width: 1024px) {
  h1 {
    color: #0F4965;
    font-size: 2rem;
    text-align: center; }
  .light, .bold {
    font-size: 2rem;
    line-height: 25px; }
  .bold {
    font-weight: bold; } }
