
@import "variables";
@import "mixin";

@media(min-width: 1024px){
body{
    background-color: $background;
}
header{
    nav{
        font-size: 1.8rem;
        display: flex;
        justify-content: space-evenly;
        background-color: $menu;
        font-family: 'Roboto',sans-serif;
        color:$font;
    }
    a:hover{
        font-weight: 600;
    }

}
h1{
    @include titleSize;
    color:$font;
    margin-top: 10px;
}
//Index
.index--main{
    height: 600px;
}
.body-main-img-beneficios{
    @include displayGridColumns;
    height: 487px;
}
.body-main--img img{
    margin-top:75px;
    margin-left: 75px;
    width:457px;
}
.body-main--beneficios h1{
    width:426px;
    margin-top:75px;
    font-size: 2.8rem;
}
.body-main--beneficios ul{
  @include subTitleSize;
  margin-top:26px;
  margin-bottom: 25px;
  
}
.body-main--contenedor h2{
    font-size:2rem ;
    line-height: 28.13px;
    text-align: center;
    margin-bottom: 56px;
}
.main--container-svg-plan p{
    font-style: 1.6rem;
    line-height: 16.41px;
}

/* ***************** Planes ****************** */
.main--planes{
    height: 487px;
}

.main-subtitle{
    margin-top: 10px;
    font-size: 1.4rem;
    margin-bottom: 20px;
}
.planes--main-planes{
    @include displayFlex;
}

.planes--contenedor{
    height: 250px;
    margin-bottom: 60px;
}
.card-header{
    font-size: 2rem;
}
.light{
    font-size: 1.4rem;
    line-height: 25px;
}
.bold{
    font-size: 1.8rem;
    line-height: 25px;
    font-weight: 600;
}
.contratar{
    font-size: 1.4rem;
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px;
}
/* ****************** Promo ************************* */

.promo--desktop{
    @include displayFlex;
}

/* *************** Contacto ************************ */

.main--forms{
    height: 487px;
}

.contacto--extra{
    font-size: 1.4rem;
}
.contacto--forms{
    margin-left: 400px;
}
.contacto--forms-input{
    font-size: 1.4rem;
}
.button--submit{
    /* margin-left: 50px; */
    font-size:1.4rem ;
}
/* **************** Inicio de sesión *********************** */
.iDS--inputs{
    height: 487px;
    width:80%; 
}
.iDS--inputs h1{
    margin-left: 200px;
}
.iDS--forms{
    margin-left: 200px;
}
.ingresar{
    margin-left: 230px;
    font-size: 1.4rem;
}
.label-titulo{
    font-size: 1.4rem;
}
.password{
    font-size: 1.2rem;
}
/* *************** Footer ******************* */
footer{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.footer--info{
    font-size: 1.4rem;
    color:$font;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
    width:100%;
}
.footer--redes p{
    font-size: 1.2rem;
    color:$font;
    margin-bottom: 12px;
}

.footer--avisos p{
    font-size: 1.2rem;
    color:var(--font);
    margin-top:30px;
}
.LogoSonoredOriginal{
    display: flex;
    max-width: 150px;
    margin: 27px 68px 35px 150px;
}
}